p{

	/*margin: 2%;*/
	color: red;
	text-align: center;
	/*border: groove;*/
}

.derecha {
    float: right;
    padding: 5px;
}
.izquierda {
     float: left;
    padding: 5px;
}
.colocar{
	clear: left;
}
h1{
	text-align: center;
	margin-top: 5%
}
li{
	color: blueviolet;
	display: inline;
	padding-right: 20%;
}
hr{
	border-style: dotted;
}